@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-ExtraLight.woff2') format('woff2'),
        url('CaskaydiaCoveNF-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-ExtraLightItalic.woff2') format('woff2'),
        url('CaskaydiaCoveNF-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-Light.woff2') format('woff2'),
        url('CaskaydiaCoveNF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-LightItalic.woff2') format('woff2'),
        url('CaskaydiaCoveNF-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-Regular.woff2') format('woff2'),
        url('CaskaydiaCoveNF-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-Italic.woff2') format('woff2'),
        url('CaskaydiaCoveNF-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-SemiLight.woff2') format('woff2'),
        url('CaskaydiaCoveNF-SemiLight.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-SemiLightItalic.woff2') format('woff2'),
        url('CaskaydiaCoveNF-SemiLightItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-SemiBold.woff2') format('woff2'),
        url('CaskaydiaCoveNF-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-SemiBoldItalic.woff2') format('woff2'),
        url('CaskaydiaCoveNF-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('CaskaydiaCoveNF-Bold.woff2') format('woff2'),
        url('CaskaydiaCoveNF-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
